@charset "UTF-8";
/* すべてのページに適応される設定 */
html {
    font-size: 16px;
}

html, body {
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    background-color: #ebddc5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a:link, a:visited {
    color: #2e4365;
    text-decoration: none;
}

a:hover, a:active {
    color: #e59d2c;
    text-decoration: none;
}


.h2 {
    text-align: center;
    font-family: "Shippori Mincho", serif;
    margin-top: 50px;
}
h2 {
    font-size: 1.8rem;
    color: #2e4365;
}


h3 {
    font-family: "Shippori Mincho", serif;
    font-size: 1.3rem;
    color: #ebddc5;
}

p {
    font-family: "Shippori Mincho", serif;
    font-size: 1rem;
    color: #ebddc5;
}

/* すべてのページに適応 ヘッダー */
.header {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px;
}

/* ヒーロー */
.hero {
    position: relative;
    width: 100%;
    height: 75vh;
   overflow: visible;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0; 
    background-image: url(../images/home-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
   z-index: -1;
   margin-bottom: 0;
}
.hero h1 {
    position: absolute;
    right: 0%;
    bottom: 20%;
    z-index: 1;
    color: #ebddc5;
    font-family: "Shippori Mincho", serif;
    font-size: 1.8rem;
    line-height: 1.4;
    max-width: 550px;
    padding: 1rem  1.5rem;
    border-radius: 8px;
    backdrop-filter: blur(2px);
    letter-spacing: normal;
    text-shadow: 0 0 10px #8a3b08;
}

/* three */
.h2.aaa {
  position: relative;
  margin-top: -15vh;
  background-color: #2e4365;
  padding: 100px 0 10px;
  color: #ebddc5;
  z-index: -2;
}
.h2.aaa h2 {
     color: #ebddc5;
}

.threes {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 50px 20px ;
    margin: 0 auto;
    position: relative;
    background-color: #f3d58d;
    flex-wrap: wrap;
}

.three {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2e4365;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    padding: 40px;
}

.more {
    margin: 20px auto;
   text-align: center;
   background-color: #8a3b08;
   width: 280px;
   border-radius: 30px;
   
   transition: background-color 0.3s ease;
   cursor: pointer;
}

.more a{
    display: block;
    padding: 20px;
    color: #ebddc5;
    text-decoration: none;
    transition: color 0.3s ease;
    border-radius: 30px;
}

.more:hover {
    background-color: #f3d58d;
}

.more:hover a {
    color: #2e4365;
}

/* おすすめメニュー */
.menus{
    background-color: #2e4365;
    padding-bottom: 50px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 20px; 
}
.menusecond {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.menu img {
    border-radius: 50%;
    width: 400px;
    height: auto;
}

.menu .text {
    color: #ebddc5;
}

.menu h3, .menusecond h3 {
    border-bottom: 1px solid #ebddc5;
}

/* お客様の声 */
.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 20px;
    max-width: 1000px;
}

.comment {
    background-color: #2e4365;
    border-radius: 20px;
    width: 90%;
    padding: 15px 20px;
}

.comment p {
    color: #ebddc5;
    margin: 0;
    text-align: left;
}

/* アクセス */
.accesses {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e4365;
    width: 100%;
}
.access {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    text-align: left;
}
.access h3{
    border-bottom: 1px solid #ebddc5;
}

/* お問い合わせ */
.contact {
    margin: 50px;
    background-color: #2e4365;
    border-radius: 20px;
}

.contactcontents {
    padding: 50px 24px;
    margin: 20px auto;
    
    width: 90%;
    max-width: 800px;
}
.contact p {
    text-align: center;
    color: #ebddc5;
}

/* すべてのページに適応 フッター */
.gotop {
    margin: 50px auto 20px;
    text-align: center;
}

footer {
    background-color: #2e4365;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
}

footer p {
    color: #ebddc5;
}

/* モバイル対応 */
@media (max-width: 767px) {
    .header ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    }
    .header ul li {
        font-size: 0.8rem;
    }
    /* ヒーロー */
    h1 {
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translateY(-60%);
    }

    /* メニュー */
    .menu, .menusecond {
        flex-direction: column;
        gap: 10px;
    }

    /* アクセス */
    .access {
        max-width: none;
        width: 90%;
    }

}